# Исключаем временные и кэш-файлы Python
__pycache__
*.pyc
*.pyo
*.pyd

# Исключаем файлы виртуального окружения и переменных окружения
.env
venv/

# Исключаем Git-репозиторий и связанные файлы
.git
.gitignore

# Исключаем файлы конфигурации docker-compose (если есть)
docker-compose.yml
